@using Kantin.DATA.Entity
@model IEnumerable<Category>
@{
    ViewBag.Title = "Index";
}

<script>
    $("#10").addClass("active");
</script>
<br />
<h2>Kategoriler</h2>

<div class="col">
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Kategori İsmi</th>
                <th></th>
            </tr>
            @if (Model != null)
            {
                foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>
                            <a href="/Admin/Category/Guncelle?id=@category.Id"><div class="btn btn-warning">Düzenle</div></a>
                            <a href="/Admin/Category/Sil?id=@category.Id"><div class="btn btn-danger">Sil</div></a>

                        </td>

                    </tr>
                }
            }
            else
            {

                <tr>
                    <td>
                        <b>Kategori Yok!</b>
                    </td>
                </tr>

            }

        </table>
    </div>
</div>

